{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- section -->
    <div class="section layout_padding" style="margin-top:50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="right">
						    <p class="small_tag">Our Team</p>
                            <h2><span class="theme_color">We Have a Professional</span> Team of Business Analysts.</h2>
							</div>	
                        </div>
                    </div>
                </div>
            </div>
			<div class="row margin-top_30">
                <div class="col-lg-12 margin-top_30">
                    <div id="team_slider" class="carousel slide" data-ride="carousel">

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
								
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'img/img-7.png' %}" alt="#" />
									 
										   </div>
										   <div class="full text_align_center">
										     <h3> </h3>
										   </div>
										   <div class="full text_align_center">
										     <p>  </p>
										   </div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'img/img-8.png' %}" alt="#" />
											 											 
										   </div>
										   <div class="full text_align_center">
										     <h3> </h3>
										   </div>
										   <div class="full text_align_center">
										     <p>  </p>
										   </div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'img/img-9.png' %}" alt="#" />
											 										 
										   </div>
										   <div class="full text_align_center">
										     <h3> </h3>
										   </div>
										   <div class="full text_align_center">
										     <p>  </p>
										   </div>
										</div>
                                    </div>
									
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
								
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'img/img-7.png' %}" alt="#" />
																						 
										   </div>
										   <div class="full text_align_center">
										     <h3> </h3>
										   </div>
										   <div class="full text_align_center">
										     <p>  </p>
										   </div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'img/img-8.png' %}" alt="#" />
																						 
										   </div>
										   <div class="full text_align_center">
										     <h3> </h3>
										   </div>
										   <div class="full text_align_center">
										     <p>  </p>
										   </div>
										</div>
                                    </div>
									
                                   <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="full">
										   <div class="full team_member_img text_align_center"> 
										      <img src="{% static 'img/img-9.png' %}" alt="#" />
											 										 
										   </div>
										   <div class="full text_align_center">
										     <h3> </h3>
										   </div>
										   <div class="full text_align_center">
										     <p>  </p>
										   </div>
										</div>
                                    </div>
									
                                </div
                            </div>
                        </div>

                        <div class="bullets">
						  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#team_slider" data-slide-to="0" class="active"></li>
    <li data-target="#team_slider" data-slide-to="1"></li>
  </ul>
						</div>

                    </div>
                </div>

            </div>
			
			<div align="center"><h1>Our structure is unique. We are the only major design studio where the owners of the business are the creators of the work and serve as the primary contact for every client. This reflects our conviction that great design cannot happen without passion, intelligence and — above all — personal commitment, and is demonstrated by a portfolio that spans five decades, many industries, and clients of every size.</h1></div>
	
        </div>
    </div>
	</div>
	
	<!-- end section -->
{% endblock %}
