{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center" style="margin :150px;">
	<div class="col-6">
		<h1 align="center" style="color:#f2184f;">Contact Us</h1>
		<form method="post">
			{% csrf_token %}
			{{ form|crispy }}
			<input align="center" class="btn btn-primary" type="submit" value="Submit" />
		</form>
	</div>
</div>
	
{% endblock %}
